
.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: black;
    
  }
  
  
  a:hover, a:active {
    color: rgb(16, 33, 187);
    
  }
  
  .menu-items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  mat-toolbar {
    background-color: rgb(124, 156, 218);
    top: 0px;
    z-index: 999;
    color:rgb(53, 43, 145)
  }
  .vl {
    border-left: 6px solid green;
    height: 500px;
  }
  