.property{
    max-width: 400px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    background-color: rgba(109, 92, 92, 0.185);
  }

.text{
    text-align: center;
}

.container-fluid{
    text-align: justify;
}