.property{
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    border-style:dotted;
    border-width:2px;
    background-color: rgba(109, 92, 92, 0.185);
    margin-bottom: 10px;
    justify-content: space-between;
  }

.text{
    text-align: center;
}

.container-fluid{
    text-align: justify;
}

.portada{
    max-width: 350px;
}

mat-card-actions{
    border-style: dashed;
    border-width:0.5px;
}